<form method="post" id="cancel_registration_form"><input type="hidden" name="cancel_registration" value="1"/></form>
<table class="buttons_table">
    <tr>
        <td class="button_cell">
            <a class="button" href="/" onclick="return cancelRegistration()">Cancel registration</a>
        </td>
        <td></td>
        <td class="button_cell">
            <a class="button" href="/" onclick="return nextPage()">Continue</a>
        </td>
    </tr>
</table>
