<h3>There is an error during registration.</h3>
<h3>Don't worry, all your data is saved.</h3>

<div class="error">{{error}}</div>

<div class="final_message">
    <a class="button" href="/">Try again</a>
</div>