<table class="buttons_table">
    <tr>
        <td class="button_cell">
            <form method="post">
                <input type="hidden" name="start_registration" value="1"/>
                <input type="submit" value=" Start registration "/>
            </form>
        </td>
    </tr>
</table>
