<form method="post" id="registration_form">
    <table class="registration_table">
        <tr>
            <td><label for="account_owner">Account Owner<i>*</i></label></td>
            <td><input type="text" id="account_owner" name="account_owner" value="{{account_owner}}"/></td>
        </tr>
        <tr>
            <td><label for="iban">IBAN<i>*</i></label></td>
            <td><input type="text" id="iban" name="iban" value="{{iban}}" size="34"/></td>
        </tr>
    </table>
</form>

{{cancel_next_buttons}}