<form method="post" id="registration_form">
    <table class="registration_table">
        <tr>
            <td><label for="first_name">First Name<i>*</i></label></td>
            <td><input type="text" id="first_name" name="first_name" value="{{first_name}}"/></td>
        </tr>
        <tr>
            <td><label for="last_name">Last Name<i>*</i></label></td>
            <td><input type="text" id="last_name" name="last_name" value="{{last_name}}"/></td>
        </tr>
        <tr>
            <td><label for="phone">Phone<i>*</i></label></td>
            <td><input type="tel" id="phone" name="phone" value="{{phone}}"/></td>
        </tr>
    </table>
</form>

{{cancel_next_buttons}}