<h3 class="success">You have been successfully registered!</h3>

<div class="final_message">
    <p>Payment data ID:</p>
    <p class="payment_data">{{payment_data_id}}</p>
</div>

<div class="final_message">
    <form method="post" action="/">
        <input type="hidden" name="finish_registration" value="1"/>
        <input type="submit" value="To Index page"/>
    </form>
</div>