<form method="post" id="registration_form">
    <table class="registration_table">
        <tr>
            <td><label for="zip_code">Zip Code<i>*</i></label></td>
            <td><input type="text" id="zip_code" name="zip_code" value="{{zip_code}}"/></td>
        </tr>
        <tr>
            <td><label for="city">City<i>*</i></label></td>
            <td><input type="text" id="city" name="city" value="{{city}}"/></td>
        </tr>
        <tr>
            <td><label for="address">Address<i>*</i></label></td>
            <td><input type="text" id="address" name="address" value="{{address}}"/></td>
        </tr>
        <tr>
            <td><label for="house">House No.<i>*</i></label></td>
            <td><input type="tel" id="house" name="house" value="{{house}}"/></td>
        </tr>
    </table>
</form>

{{cancel_next_buttons}}