* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: aliceblue;
}

h2 {
    text-align: center;
    padding: 8px;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

.success {
    color: green;
}

.final_message {
    margin-top: 16px;
}

.error {
    color: red;
    margin-top: 16px;
}

input[type=button],
input[type=submit],
a.button {
    width: 100%;
    min-height: 24px;
    display: inline-block;
    background-color: #7fff4d;
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-bottom: 1px solid darkcyan;
    border-right: 1px solid darkcyan;
    text-align: center;
    line-height: 24px;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

input[type=button]:focus,
input[type=submit]:focus,
a.button:focus {
    outline: none;
}

input[type=button]:hover,
input[type=submit]:hover,
a.button:hover {
    background-color: #9fff4d;
}

input[type=button]:active,
input[type=submit]:active,
a.button:active {
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    border-top: 1px solid darkcyan;
    border-left: 1px solid darkcyan;
}

.main_form {
    border: 1px solid #999;
    padding: 16px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
}

.registration_table {
    width: 100%;
}

.registration_table td {
    padding: 4px;
}

.registration_table i {
    color: red;
}

.registration_table td:nth-child(1) {
    width: 30%;
}

.registration_table td:nth-child(2) {
    width: 70%;
}

input {
    width: 100%;
    border: 1px solid #AAA;
    padding: 2px;
}

.buttons_table {
    width: 100%;
    margin-top: 16px;
}

.button_cell {
    width: 45%;
}

.payment_data, .error {
    overflow-wrap: break-word;
    padding: 8px;
    border: 1px solid #CCC;
    margin-top: 4px;
}